*.apk
*.aab
*.ap_

*.dex

*.class

/build/

local.properties

proguard/

*.log

.navigation/

captures/

.gradle/
!gradle/wrapper/gradle-wrapper.jar 
!gradle-wrapper.properties

*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.jks
*.keystore

.cxx/
.externalNativeBuild/

secrets.properties

lint/reports/*
lint/intermediates/*